{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {%for element in value_dicts%}
                <tr>
                    <td>{{ element["symbol"] }}</td>
                    <td>{{ element["shares"] }}</td>
                    <td>${{ element["price"] }}</td>
                    <td>{{ element["time"] }}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
{% endblock %}